In [1]:
#an organized collection of structured information, or data, typically stored electronically in a computer system

"""SQL databases are relational, and NoSQL databases are non-relational.
SQL databases use structured query language (SQL) and have a predefined schema. NoSQL databases have dynamic schemas for unstructured data.
SQL databases are vertically scalable, while NoSQL databases are horizontally scalable.
SQL databases are table-based, while NoSQL databases are document, key-value, graph, or wide-column stores.
SQL databases are better for multi-row transactions, while NoSQL is better for unstructured data like documents or JSON"""

'SQL databases are relational, and NoSQL databases are non-relational.\nSQL databases use structured query language (SQL) and have a predefined schema. NoSQL databases have dynamic schemas for unstructured data.\nSQL databases are vertically scalable, while NoSQL databases are horizontally scalable.\nSQL databases are table-based, while NoSQL databases are document, key-value, graph, or wide-column stores.\nSQL databases are better for multi-row transactions, while NoSQL is better for unstructured data like documents or JSON'

In [2]:
"""Data definition language (DDL) describes the portion of SQL that creates, alters, and deletes database objects. 
These database objects include schemas, tables, views, sequences, catalogs, indexes, variables, masks, permissions,
and aliases. Creating a schema. A schema provides a logical grouping of SQL objects"""

'Data definition language (DDL) describes the portion of SQL that creates, alters, and deletes database objects. \nThese database objects include schemas, tables, views, sequences, catalogs, indexes, variables, masks, permissions,\nand aliases. Creating a schema. A schema provides a logical grouping of SQL objects'

In [4]:
"""The CREATE TABLE statement is used to create a new table in a database."""
CREATE TABLE Persons (
    PersonID int,
    LastName varchar(255),
    FirstName varchar(255),
    Address varchar(255),
    City varchar(255)
);



"""The DROP TABLE statement is used to drop an existing table in a database."""

DROP TABLE table_name;



"""The ALTER TABLE statement is used to add, delete, or modify columns in an existing table"""


ALTER TABLE Customers
ADD Email varchar(255);



"""The TRUNCATE TABLE statement is used to delete the data inside a table, but not the table itself."""

TRUNCATE TABLE table_name;

SyntaxError: invalid syntax (2000694611.py, line 2)

In [5]:
"""DML stands for Data Manipulation Language. It's a computer programming language used to add, delete, 
and modify data in a database."""

"""INSERT is a DML command in SQL that is used to insert new records into database tables."""

INSERT INTO table_name (column_name1, column_name2, column_name3, ....)
VALUES (value_1, value_2, value_3, ....);


"""The UPDATE statement is used to modify the existing records in a table."""

UPDATE table_name
SET column1 = value1, column2 = value2, ...
WHERE condition;

"""The DELETE statement is used to delete existing records in a table."""

DELETE FROM table_name WHERE condition;

SyntaxError: invalid syntax (1972995910.py, line 6)

In [1]:
"""Data Query Language(DQL) is used to retrieve data from the database using SQL queries."""

"""The SELECT command does not manipulate any data in the table It is used to see the existing records present in the tables"""


SELECT column_name1, column_name2,....FROM table_name;

SyntaxError: invalid syntax (3253995340.py, line 6)

In [2]:
"""Primary keys serve as unique identifiers for each row in a database table. 
Foreign keys link data in one table to the data in another table"""

'Primary keys serve as unique identifiers for each row in a database table. \nForeign keys link data in one table to the data in another table'

In [3]:
pip install mysql-connector-python


import mysql.connector 

"""cursor() method: they are bound to the connection for the entire lifetime and all the commands are 
executed in the context of the database session wrapped by the connection"""


"""The execute() method executes an SQL statement on the database."""

SyntaxError: invalid syntax (3459816442.py, line 1)

In [4]:
"""Getting Data (FROM/JOIN)
Row Filter (WHERE)
Grouping (GROUP BY)
Group Filter (HAVING)
Return Expression (SELECT)
Order & Paging (ORDER BY & LIMIT/OFFSET)"""

'Getting Data (FROM/JOIN)\nRow Filter (WHERE)\nGrouping (GROUP BY)\nGroup Filter (HAVING)\nReturn Expression (SELECT)\nOrder & Paging (ORDER BY & LIMIT/OFFSET)'