In [1]:
import pandas as pd

In [2]:
df = {'a':[1,2,5,3,6,4,8],
      'b':[22,55,88,66,55,88,58],
      'c':['shu','bha','ahd','ajd','ajd','adk','ahd']
     }

In [3]:
df = pd.DataFrame(df)

In [4]:
df.head()

   a   b    c
0  1  22  shu
1  2  55  bha
2  5  88  ahd
3  3  66  ajd
4  6  55  ajd

In [5]:
df.tail()

   a   b    c
2  5  88  ahd
3  3  66  ajd
4  6  55  ajd
5  4  88  adk
6  8  58  ahd

In [6]:
df.columns

Index(['a', 'b', 'c'], dtype='object')

In [7]:
df[['a','b']]

   a   b
0  1  22
1  2  55
2  5  88
3  3  66
4  6  55
5  4  88
6  8  58

In [8]:
df['d'] = [1,5,25,85,56,98,65]

In [9]:
df

   a   b    c   d
0  1  22  shu   1
1  2  55  bha   5
2  5  88  ahd  25
3  3  66  ajd  85
4  6  55  ajd  56
5  4  88  adk  98
6  8  58  ahd  65

In [10]:
#2 question 

import pandas as pd

def reindex_with_custom_increment(df):
    new_index = range(1, len(df) * 2+1, 2)  # Create a new index starting from 1 and incrementing by 2
    return df.set_index(pd.Index(new_index))  # Set the new index for the DataFrame

# Example DataFrame
data = {'A': [10, 20, 30],
        'B': [5, 15, 25],
        'C': [1, 2, 3]}
df = pd.DataFrame(data)

# Reindex the DataFrame
new_df = reindex_with_custom_increment(df)
print(new_df)

    A   B  C
1  10   5  1
3  20  15  2
5  30  25  3

In [11]:
#3 question 
import pandas as pd

In [12]:
def newvalue(df):
    valuenew = df['Values']
    sumvalue = valuenew.head(3).sum()
    print(sumvalue)
    
data = {'Values':[10,20,30,40,50]}
df = pd.DataFrame(data)
print(newvalue(df))

60
None

In [13]:
#4 question

In [14]:
import pandas as pd

In [15]:
def counterfun(df):
    df['Word_Count']=  df['Text'].apply(lambda x:len(x.split()))
    return df 

data = {'Text': ["This is a sample sentence.",
                 "Count the words in this text.",
                 "Another example with more words."]}
df = pd.DataFrame(data)

ab = counterfun(df)
print(ab)

                               Text  Word_Count
0        This is a sample sentence.           5
1     Count the words in this text.           6
2  Another example with more words.           5

In [16]:
#5 question

In [17]:
import pandas as pd

In [18]:
#The size property return the number of values in the data 
#The shape property returns a tuple containing the shape of the DataFrame

In [20]:
# 6 question 

pd.read_Exel('ab.Exel') is the function used for the reading the excel file.

SyntaxError: invalid syntax (765597612.py, line 3)

In [21]:
# 7 questions|

In [22]:
import pandas as pd 
def newcol(df):
    df['Username'] = df['Email'].str.split('@').str[0]
    return df
    
data = {'Email':['shubham@gmail.com','barbaile@gmail.com','sanket@gmail.om']}
df = pd.DataFrame(data)
ab = newcol(df)
print(ab)

                Email  Username
0   shubham@gmail.com   shubham
1  barbaile@gmail.com  barbaile
2     sanket@gmail.om    sanket

In [23]:
#8 question 
import pandas as pd

In [24]:
def nw(df):
    filtered_df = df[(df['A'] > 5) & (df['B'] < 10)]
    return filtered_df

data = {'A':[3,8,6,2,9],
        'B':[5,2,9,3,1],
        'C':[1,7,4,5,2]
       }
df = pd.DataFrame(data)
ab = nw(df)
print(ab)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

In [25]:
#question no 9 
import pandas as pd

In [26]:
data = {'Values':[52,6,649,464,545,52,52,66]}

In [27]:
df = pd.DataFrame(data)

In [28]:
df.mean()

Values    235.75
dtype: float64

In [29]:
df.median()

Values    59.0
dtype: float64

In [30]:
df.mode()

   Values
0      52

In [31]:
# question 10
import pandas as pd

In [37]:
def newcln(df):
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    return df

data = {'Date': pd.date_range(start='2023-08-01', periods=14),
        'Sales': [10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75]}
df = pd.DataFrame(data)

ab = newcln(df)
print(ab.head(7))

        Date  Sales  MovingAverage
0 2023-08-01     10           10.0
1 2023-08-02     15           12.5
2 2023-08-03     20           15.0
3 2023-08-04     25           17.5
4 2023-08-05     30           20.0
5 2023-08-06     35           22.5
6 2023-08-07     40           25.0

In [38]:
#question no 11
import pandas as pd

In [45]:
def newcln(df):
    df['Weekday'] = df['Date'].dt.strftime('%A')
    return df

data ={ 'Date':pd.to_datetime(['2023-01-01','2023-01-02','2023-01-03','2023-01-04','2023-01-05'])}
df = pd.DataFrame(data)
ab = newcln(df)
print(ab)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

In [46]:
#12 questions 
import pandas as pd

In [47]:
data = {'Date':pd.date_range(start = '2023-01-01',periods=50)}

In [48]:
df = pd.DataFrame(data)

In [50]:
df.head(31)

         Date
0  2023-01-01
1  2023-01-02
2  2023-01-03
3  2023-01-04
4  2023-01-05
5  2023-01-06
6  2023-01-07
7  2023-01-08
8  2023-01-09
9  2023-01-10
10 2023-01-11
11 2023-01-12
12 2023-01-13
13 2023-01-14
14 2023-01-15
15 2023-01-16
16 2023-01-17
17 2023-01-18
18 2023-01-19
19 2023-01-20
20 2023-01-21
21 2023-01-22
22 2023-01-23
23 2023-01-24
24 2023-01-25
25 2023-01-26
26 2023-01-27
27 2023-01-28
28 2023-01-29
29 2023-01-30
30 2023-01-31

In [ ]:
# 13 questions 
To use basic function of pandas we have to use the pandas library.