In [2]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [3]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [4]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [5]:
# question no 2 
#The main difference between pandas loc[] vs iloc[] is loc gets DataFrame rows & columns by labels/names and 
#iloc[] gets by integer Index/position.

In [6]:
#3question

In [10]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
l = [3,0,1,2]

#

In [11]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.186041  0.770076  0.094307  0.535544  0.178391  0.337907
2  0.323551  0.385647  0.074409  0.442146  0.596784  0.433418
3  0.681075  0.802187  0.535201  0.528867  0.015483  0.625463
4  0.827737  0.474618  0.683952  0.141873  0.946702  0.430105
5  0.430153  0.522810  0.289483  0.611420  0.457475  0.715418
6  0.774463  0.906713  0.571413  0.062471  0.291790  0.303929

In [12]:
new_df = df1.reindex(l)

In [15]:
new_df

   column_1  column_2  column_3  column_4  column_5  column_6
3  0.681075  0.802187  0.535201  0.528867  0.015483  0.625463
0       NaN       NaN       NaN       NaN       NaN       NaN
1  0.186041  0.770076  0.094307  0.535544  0.178391  0.337907
2  0.323551  0.385647  0.074409  0.442146  0.596784  0.433418

In [13]:
new_df.loc[2]

column_1    0.323551
column_2    0.385647
column_3    0.074409
column_4    0.442146
column_5    0.596784
column_6    0.433418
Name: 2, dtype: float64

In [14]:
new_df.iloc[2]

column_1    0.186041
column_2    0.770076
column_3    0.094307
column_4    0.535544
column_5    0.178391
column_6    0.337907
Name: 1, dtype: float64

In [16]:
# the main diffrence between the loc and iloc is loc act on the the index whoese index name is  2  and  and 
#iloc is giving the output of row whose actual index is 2

In [17]:
# question no 4

In [19]:
df1.mean()

column_1    0.537170
column_2    0.643675
column_3    0.374794
column_4    0.387054
column_5    0.414438
column_6    0.474373
dtype: float64

In [20]:
df1.std()

column_1    0.261466
column_2    0.209790
column_3    0.259287
column_4    0.228475
column_5    0.331159
column_6    0.162630
dtype: float64

In [26]:
df1.loc[2,'column_2'] = 'shubham'

#

In [27]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.186041  0.770076  0.094307  0.535544  0.178391  0.337907
2   shubham   shubham   shubham   shubham   shubham   shubham
3  0.681075  0.802187  0.535201  0.528867  0.015483  0.625463
4  0.827737  0.474618  0.683952  0.141873  0.946702  0.430105
5  0.430153   0.52281  0.289483   0.61142  0.457475  0.715418
6  0.774463  0.906713  0.571413  0.062471   0.29179  0.303929

In [28]:
df1.mean()

/tmp/ipykernel_95/2053335143.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df1.mean()

Series([], dtype: float64)

In [1]:
# all the variable in the data frame is float and I replace the variable with the string so it is impossible for to find 
# a mean in different data types.

In [3]:
# 6 que

"""Windows function in Pandas can be broadly divided into three categories namely- Aggregate, Ranking, and Value. 
The group by aggregate function can be used to partition and group the entire data frame by some column.
We can specify the column name in the parameter of the pandas."""

'Windows function in Pandas can be broadly divided into three categories namely- Aggregate, Ranking, and Value. \nThe group by aggregate function can be used to partition and group the entire data frame by some column.\nWe can specify the column name in the parameter of the pandas.'

In [16]:
# 7 
import pandas as pd 
ab = pd.to_datetime('today')
month = ab.month
year = ab.year
day = ab.day
print (f"the current month is {month} and the year is  {year} and the day is {day}")

the current month is 8 and the year is  2023 and the day is 24

In [1]:
import pandas as pd

def calculate_time_difference(date1, date2):
    # Convert input strings to datetime objects
    date1 = pd.to_datetime(date1)
    date2 = pd.to_datetime(date2)

    # Calculate the time difference using Pandas timedelta
    time_diff = date2 - date1

    # Extract days, hours, and minutes from the time difference
    days = time_diff.days
    hours = time_diff.seconds // 3600
    minutes = (time_diff.seconds // 60) % 60

    return days, hours, minutes

# Prompt the user to enter the two dates
date_str1 = input("Enter the first date (YYYY-MM-DD): ")
date_str2 = input("Enter the second date (YYYY-MM-DD): ")

# Calculate the time difference
days_diff, hours_diff, minutes_diff = calculate_time_difference(date_str1, date_str2)

# Display the result
print(f"Time difference: {days_diff} days, {hours_diff} hours, {minutes_diff} minutes")

Enter the first date (YYYY-MM-DD):  2000-09-27
Enter the second date (YYYY-MM-DD):  2001-05-08

Time difference: 223 days, 0 hours, 0 minutes

In [2]:
import pandas as pd

def convert_column_to_categorical(file_path, column_name, category_order):
    # Read the CSV file into a DataFrame
    df = pd.read_csv(file_path)

    # Convert the specified column to categorical with the given category order
    df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)

    # Sort the DataFrame based on the categorical column
    sorted_df = df.sort_values(by=column_name)

    return sorted_df

# Prompt the user to enter the file path, column name, and category order
file_path = input("Enter the file path of the CSV file: ")
column_name = input("Enter the column name to convert to categorical: ")
category_order_str = input("Enter the category order separated by commas (e.g., 'category1,category2,category3'): ")
category_order = category_order_str.split(',')

# Convert the specified column to categorical and sort the data
sorted_data = convert_column_to_categorical(file_path, column_name, category_order)

# Display the sorted data
print("Sorted Data:")
print(sorted_data)

Enter the file path of the CSV file:  sdgsd
Enter the column name to convert to categorical:  sdf
Enter the category order separated by commas (e.g., 'category1,category2,category3'):  esfges

FileNotFoundError: [Errno 2] No such file or directory: 'sdgsd'

In [4]:
import pandas as pd
import matplotlib.pyplot as plt

def visualize_sales_data(file_path):
    # Read the CSV file into a DataFrame
    df = pd.read_csv(file_path)

    # Convert the 'Date' column to datetime format
    df['Date'] = pd.to_datetime(df['Date'])

    # Set 'Date' column as the index
    df.set_index('Date', inplace=True)

    # Group by 'Product Category' and resample by month, summing the sales
    sales_by_category = df.groupby('Product Category').resample('M').sum()

    # Reset the index for plotting
    sales_by_category.reset_index(inplace=True)

    # Pivot the DataFrame to have 'Date' as columns and 'Product Category' as rows
    pivoted_sales = sales_by_category.pivot(index='Date', columns='Product Category', values='Sales')

    # Plot the stacked bar chart
    pivoted_sales.plot(kind='bar', stacked=True, figsize=(10, 6))
    plt.title('Sales by Product Category Over Time')
    plt.xlabel('Date')
    plt.ylabel('Sales')
    plt.legend(title='Product Category')
    plt.xticks(rotation=45)
    plt.tight_layout()

    # Display the chart
    plt.show()

# Prompt the user to enter the file path of the CSV file
file_path = input("Enter the file path of the CSV file: ")

# Visualize the sales data using a stacked bar chart
visualize_sales_data(file_path)

Enter the file path of the CSV file:  dfgf

FileNotFoundError: [Errno 2] No such file or directory: 'dfgf'

In [1]:
pip install tabulate

Requirement already satisfied: tabulate in /opt/conda/lib/python3.10/site-packages (0.9.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import pandas as pd
from tabulate import tabulate

def calculate_statistics(file_path):
    # Read the CSV file into a Pandas DataFrame
    df = pd.read_csv(file_path)

    # Calculate the mean, median, and mode of the test scores
    mean_score = df['Test Score'].mean()
    median_score = df['Test Score'].median()
    mode_scores = df['Test Score'].mode()

    # Convert mode_scores to a comma-separated string
    mode_str = ', '.join(map(str, mode_scores))

    # Create a table to display the statistics
    table = [['Statistic', 'Value'],
             ['Mean', mean_score],
             ['Median', median_score],
             ['Mode', mode_str]]

    return table

# Prompt the user to enter the file path of the CSV file containing student data
file_path = input("Enter the file path of the CSV file containing the student data: ")

# Calculate statistics and display the results in a table
statistics_table = calculate_statistics(file_path)
print(tabulate(statistics_table, headers='firstrow', tablefmt='grid'))